.team {
    background-color: rgb(41, 231, 120);
    margin: auto;
    padding: 4rem;
}

.team .title {
    color: rgb(54, 47, 47);
    padding-left: 10rem;
    font-size: 1.5rem;
}

.all {
    
    margin: auto;
    background-color: aliceblue;
    width: fit-content;
}

.each {
    display: inline-block;
}